<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>yownu-worker</string>
	<key>CFBundleGetInfoString</key>
	<string>Yownu-Worker</string>
	<key>CFBundleIconFile</key>
	<string>yownu-worker.icns</string>
	<key>CFBundleIdentifier</key>
	<string>Yownu-Worker</string>
	<key>CFBundleName</key>
	<string>Yownu-Worker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
</dict>
</plist>
